.coinInfo{
    padding: 1rem 1rem;
    h2{
        margin-bottom: 0.5rem;
    }
    p{
        a{
            color: white;
            text-decoration: underline;
        }
        a:hover{
            color: blue;
        }
    }
}
