@import "../../../colors.scss";
tr {
  width: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 12px 3rem;
  gap: 1rem;
  color: $dark-text-color;
  // border: 1px solid red;
  border-bottom: 1px solid rgba(128, 128, 128, 0.323);
  // border-top: 1px solid rgba(128, 128, 128, 0.323);
  // background-color: red;
}

td {
  // border: 1px solid blue;
  width: 20%;
  display: flex;
  justify-content: flex-start;


  &:nth-child(4),
  &:nth-child(5) {
   
    width: 15%;
  }
  &:nth-child(3) {
    width: 15%;
  }
  &:nth-child(2) {
 justify-content: space-between !important;
  }
  &:nth-child(6) {
    width: 3%;
    justify-content: center;
  }
  // &:nth-child(1) {
  //   width: 20%;
   
  // }
}
.vol,
.cap {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  &.light{
    color: $light-light-text-color;
  }
}
.cap {
  &.light{
    color: $light-light-text-color;
  }
}

.listFavorite{
  &.light{
    color: $light-light-text-color;
  }
}

tr:hover {
  transition: all 0.3s ease-in;
  cursor: pointer;
  background-color: $dark-card-background-color;
  &.light{
    background-color: $light-card-background-color;
  }
}
.favorite:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}




@media (max-width :1250px){
  tr{
    // border:1px solid  red;
    padding: 10px 2rem;
  }
  
  .row-icon{
    display: none !important;
  }

  

}


@media (max-width :950px){
 
  .row-market-cap{
    display: none;
  }
  td{
    width: 25%;
  }
}

@media(max-width: 800px) {
  tr{
    // border:1px solid  red;
    padding: 10px 1rem;
  }
}
/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .row-total-vol{
    display: none;
  }
  tr{
    padding: 15px 0.8rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.323);
    border-top: 1px solid rgba(128, 128, 128, 0.323);
  }
  td{
    width: 27%;
    &:nth-child(6) {
      width: 7%;
      
    }
    &:nth-child(2) {
     justify-content: center !important;
      
    }
  }
  .listImg{
    width: 2.5rem  !important;
    height: 2.5rem !important;
  }
  .listName{
    font-size: 12px !important;  
  }
  .listSymbol{
    font-size: 12px !important;
  }
  .listPrice{
    font-size: 16px !important;
  }
  .list-name-logo{
    gap: 0.5rem ;
  }
  .listPercentageChange{
    padding: 5px 5px !important;
    font-size: 12px ;
    min-width: 80px !important;
  }


}