@import "../../../colors.scss";
tr {
  width: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 12px 3rem;
  gap: 1rem;
}

td {
  width: 20%;
  display: flex;
  justify-content: flex-start;

  &:nth-child(4),
  &:nth-child(5) {
    justify-content: center;
  }
  &:nth-child(3) {
    width: 10%;
  }
}
.vol,
.cap {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

tr:hover {
  transition: all 0.3s ease-in;
  cursor: pointer;
  background-color: $dark-card-background-color;
}
