@import "../../../colors.scss";
.select-days {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    &.light{
      color: $light-text-color;
    }
   
  }
  @media(max-width: 800px) {
  .MuiSelect-select{
    font-size: small !important;
   
  }
}