
@import "../../../colors.scss";
a{
    text-decoration: none;
}
.navbar{
background-color: $dark-background-color;
display: flex;
justify-content: space-between;
padding: 1.5rem 3rem;
align-items: center;
position: sticky;
top: 0;
left: 0;
z-index: 101;
&.light{
    background-color: $light-background-color;
}
.logo{
    font-size: 1.5rem; 
    text-decoration: none;
    color: $dark-text-color;
    &.light{
        color: $light-text-color;
    }
}
}
.navLinks{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.navLink{
    transition: 0.3s ease-in-out;  
    color: $dark-light-text-color;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;   
    &.light{
        color: $light-light-text-color;
    }  
}
.navLink:hover{
    color: $dark-text-color;
    &.light{
        color: $light-text-color;
    }
}

.mobileMenu{
    display: none;
}

.drawer{
    align-items: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    width: 50vw;
    background-color: $dark-background-color;
    a{
        font-size:14px;
    }
    .dashBtn{
        padding: 8px 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar{
        padding: 2rem 6rem;
    }
    
}




@media (max-width :800px){
    .navLinks{
        display: none;
    }
    .navbar{
        padding: 1rem;
    }
    .logo{
        font-size: 1.2rem !important;
    }
    .mobileMenu{
        display: block;
    }
}
