@import "../../colors.scss";

.grid-container{
    // border: 1px solid red;
    padding: 0rem 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    
   
    
    gap: 1.5rem;
}


@media(max-width: 800px) {
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
}