// Light Theme Colors
$light-primary-color: #4a90e2; // Main brand color
$light-secondary-color: #6c757d; // Secondary color for accents
$light-background-color: #f8f9fa; // Background color for main content
$light-card-background-color: #dddddd; // Background color for cards and containers
$light-text-color: #333333; // Main text color
$light-light-text-color: #808080; // Lighter text color for secondary information
$light-accent-text-color: #007bff; // Accent text color for important information
$light-button-background-color: $light-primary-color; // Background color for buttons
$light-button-text-color: #ffffff; // Text color for buttons
$light-border-color: #dddddd; // Border color for elements
$light-success-color: #28a745; // Color for success messages
$light-warning-color: #ffc107; // Color for warning messages
$light-error-color: #dc3545; // Color for error messages
// $orange: #fd7914; // Color for error messages

// Dark Theme Colors
$dark-primary-color: #4a90e2; // Main brand color
$dark-secondary-color: #6c757d; // Secondary color for accents
$dark-background-color: #1a1a1a; // Background color for main content
$dark-card-background-color: #2e2e2e; // Background color for cards and containers
$dark-text-color: #ffffff; // Main text color
$dark-light-text-color: #808080; // Lighter text color for secondary information
$dark-accent-text-color: #007bff; // Accent text color for important information
$dark-button-background-color: $dark-primary-color; // Background color for buttons
$dark-button-text-color: #ffffff; // Text color for buttons
$dark-border-color: #555555; // Border color for elements
$dark-success-color: #28a745; // Color for success messages
$dark-warning-color: #ffc107; // Color for warning messages
$dark-error-color: #dc3545; // Color for error messages 



.grayWrapper{
  background-color: $dark-card-background-color;
  margin: 1rem;
 
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  tr{
    border: none;
  }
  &.light{
    background-color: $light-background-color;
    border:1px solid $light-border-color;
    color: $light-text-color;
    &:hover{
      background-color: $light-border-color;
    }
}
}