@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'material-icons/iconfont/material-icons.css';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Light Theme Colors */
:root {
  --light-primary-color: #4a90e2; /* Main brand color */
  --light-secondary-color: #6c757d; /* Secondary color for accents */
  --light-background-color: #f8f9fa; /* Background color for main content */
  --light-card-background-color: #ffffff; /* Background color for cards and containers */
  --light-text-color: #333333; /* Main text color */
  --light-light-text-color: #808080; /* Lighter text color for secondary information */
  --light-accent-text-color: #007bff; /* Accent text color for important information */
  --light-button-background-color: var(--light-primary-color); /* Background color for buttons */
  --light-button-text-color: #ffffff; /* Text color for buttons */
  --light-border-color: #dddddd; /* Border color for elements */
  --light-success-color: #28a745; /* Color for success messages */
  --light-warning-color: #ffc107; /* Color for warning messages */
  --light-error-color: #dc3545; /* Color for error messages */
}

/* Dark Theme Colors */
:root {
  --dark-primary-color: #4a90e2; /* Main brand color */
  --dark-secondary-color: #6c757d; /* Secondary color for accents */
  --dark-background-color: #1a1a1a; /* Background color for main content */
  --dark-card-background-color: #2e2e2e; /* Background color for cards and containers */
  --dark-text-color: #ffffff; /* Main text color */
  --dark-light-text-color: #cccccc; /* Lighter text color for secondary information */
  --dark-accent-text-color: #007bff; /* Accent text color for important information */
  --dark-button-background-color: var(--dark-primary-color); /* Background color for buttons */
  --dark-button-text-color: #ffffff; /* Text color for buttons */
  --dark-border-color: #555555; /* Border color for elements */
  --dark-success-color: #28a745; /* Color for success messages */
  --dark-warning-color: #ffc107; /* Color for warning messages */
  --dark-error-color: #dc3545; /* Color for error messages */
}

html{
  scroll-behavior: smooth;
}
body {
  -webkit-font-smoothing: antialiased;
  color:var(--dark-text-color) ;
  background-color: var(--dark-background-color) ;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  height: 100vh;
}


::selection{
  background-color: var(--dark-primary-color);
  color: var(--dark-text-color);
}


::-webkit-scrollbar-track
{
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 border-radius: 10px;
 background-color: transparent;
}

::-webkit-scrollbar
{
 width: 8px;
 background-color: transparent;
}

::-webkit-scrollbar-thumb
{
 border-radius: 10px;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
 background-color:var(--dark-primary-color);
}

 

.grayWrapper{
  background-color: var(--dark-card-background-color);
  margin: 1rem;
  border-radius: 20px;
  tr{
    border: none;
  }
}